<!DOCTYPE html>
<head>
    <title>City Page</title>
</head>
<body>
    <div>
            <h1>Name of <%= cityname %></h1>
            <p>The Where on EARTH ID of <%=cityname %> is <a href="/weather/<%=woe%>"><%=woe%></a></p>
            <p>The Latitude and longitude is <%=latlong%></p>
    </div>
</body>